*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
.container {
    max-width: 1800px;
}
.header {
max-width: 1773px;
}
.header h1{    
    font-family:'Josefin Sans', sans-serif;
    max-width: 342px;
    color: #FFF;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.625rem;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
}
.header h2{
    margin-top: 11px;
    font-family:'Josefin Sans', sans-serif;
    color: #FFF;
    text-align: center;
    font-size: 1.375rem;
    font-weight: 400;
    line-height: 1.625rem; 
    letter-spacing: 0.426rem;
    margin-bottom: 40px;
}
.headerBg {    
    max-width: 1770px;
    height: 820px;
    background-position: center;
    background-image: url("./img/header-img.svg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
[type="search"]{ 
    width: 100%;   
    /* width: 503px; */
    height: 63px;
}
/* input{
    width: 100%;
} */
[type="submit"]{
    width:100%;
    height: 63px;
    background-color: #5474FD;
    color: #FFF;
    font-size: 16px;
    border: 3px solid white;
    text-align: center;
    font-family: 'Aleo', serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
}
form{
    /* max-width: 656px; */
    display: flex;
    justify-content: center;
    align-items: center;
}
input:focus {
    background-color: lightblue;
}
[placeholder] {    
    color: #999;
    text-align: center;
    font-family: Josefin Sans;
    font-size: 0.875rem;
    font-weight: 400;
    line-height:1.625rem;
    letter-spacing: 0.175rem;
}
.header p{
    color: #FFF;
    text-align: center;
    font-family: Josefin Sans;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.625rem;
    letter-spacing:0.175rem;
    margin-top: 107px;
}
div.inputs {
    display: flex;
    justify-content: center;
    align-content: center;
}
.inputs > div {
    width: 503px;
}
.inputs .button{
    max-width: 153px;
}

.scroll {
    text-decoration: none;
}
.search-img{
   margin: 10px 0 0 5px;
}
.header-nav{
    /* width: 1731px; */
    min-height: 83px; 
    background-color: #5474FD;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-nav > div{
    /* display: flex;
    justify-content: center;
    align-content: center; */
}
.menu {

    display: flex;
    justify-content: space-between;
}
.nav-item {
    margin: 0 15px 0 0;
    text-decoration: none;
    color: #FFF;
    font-family: Aleo;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.625rem; 
    text-transform: uppercase;
}
.header-nav .logo{
    max-width: 186px;
    color: #FFF;
    font-family: Josefin Sans;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.625rem;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    margin: 0;
}
.img1, .img2 {
   
    /* max-width: 350px;
    height: 220px;     */
}
.why_choose_us{
    max-width: 1770px;
    background-image: url("./img/bgsection2.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.upper-section {
    display: flex;
    justify-content: space-evenly;
    padding: 118px 0 118px 118px;
}
.upper-section .content{   
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;    
}
.content h2{
    max-width: 288px;
    color: #FFF;
    font-family: Aleo;
    font-size: 2.25rem;
    font-weight: 400;
    line-height:1.625rem; 
}
.content p{
     max-width: 560px;
     color: #E8E8E8;
    font-family: Josefin Sans;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
    letter-spacing: 0.1rem;
}
.landscape-1 {  
    margin-bottom: 10px;
   width: 450px;  
    height: 220px; 
    display: flex;
    justify-content: flex-start;
}
.landscape-2 {    
    max-width: 450px; 
    height: 220px;
    display: flex;
    justify-content: flex-end;
}

.btn-explore{
    max-width: 228px;
    height: 63px;
    background-color: #5474FD;
    color: #FFF;
    font-family: Aleo;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
    letter-spacing: 0.075rem;
    text-transform: uppercase;
    padding: 21px 30px 16px 30px;
}
.btn-explore:hover,.btn-spain:hover{
    background-color: #008CBA;
    font-weight: bolder;
}
.lower-section {
    max-width: 1773px;
    min-height: 340px;
    background-image: url("./img/bg-lower-section.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.icons {
    display: flex;
    justify-content: space-around;
   
}
.section-icon:nth-of-type(1) {
    width: 353px;
    height: 163px;
}
.section-icon:nth-of-type(2n){
    width: 353px;
    height: 161px;    
   
    margin: 0 10% 0 10%;
    border-radius: 50%;
}
.section-icon:last-of-type{
    width: 353px;
    height: 163px;
}
.section-icon p{
    max-width: 250px;
    color: #E8E8E8;
    text-align: center;
    font-family: Aleo;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
}
.section-icon {
   
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.section-icon img {
    margin-bottom: 20px;
}
.spain-first{
    max-width: 1770px;
    height: 700px;
    background-image: url("./img/spain-1.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;
    
}
.spain-h3{
    max-width: 80px;
    color: #E8E8E8;
    font-family: Josefin Sans;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.625rem;
    letter-spacing: 0.09rem;
}

.spain-h2 {
    max-width: 241px;
    color: #FFF;
    font-family: Josefin Sans;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.625rem;
    text-transform: uppercase;
}
.spain-p{
    max-width: 508px;
    color: #E8E8E8;
    font-family: Josefin Sans;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
}
.btn-spain {
    max-width: 228px;
    height: 63px;
    background-color: #5474FD;
    color: #FFF;
    font-family: Aleo;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 0.075rem;
    text-transform: uppercase;
    padding: 21px 34px;
}
.spain-first .info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    max-width: 543px;
    height: 374px;
    padding-left: 30px;
    background-color: #232323;
    opacity: 0.9;
    position: absolute;
    top:35%;
    left: 15%;
}
.spain-second{
    max-width: 1770px;
    height: 700px;
    background-image: url("./img/spain-2.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.spain-second .info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    max-width: 543px;
    height: 374px;
    padding-left: 30px;
    background-color: #232323;
    opacity: 0.9;
    position: absolute;
    top: 35%;
    right: 15%; 
}
.testimonial-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.testimonial{
    max-width: 1770px;
    height: 731px;
    background-image: url("./img/bg-testimonials.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.testimonial h2{   
    color: #FFF;
    text-align: center;
    font-family: Aleo;
    font-size: 2.25rem;
    font-weight: 400;
    line-height: 1.625rem; 
}
.testimonial-content img{
    max-width: 445px;
    height: 284px;
}
.testimonial-text {
    max-width: 668px;
    height: 287px;
    background-color: #333;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items:flex-start;
    padding:0% 1% 0% 3%;   
}
.fa-quote-left {
    color: #5474FD;
    font-family: FontAwesome;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
.para {
    display: flex;
}
.testimonial-text h3{
    max-width: 150px;
}
.testimonial-text p{
    max-width: 581px;
}
.footer{
    max-width: 1773px;
    height: 271px;
    background-color: #232323;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
.footer h2{
    text-align: center;
    color: #FFF;
    font-family: Josefin Sans;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.625rem;
    letter-spacing: 0.21rem;
    text-transform: uppercase;
}
.footer p{
    color: #FFF;
    text-align: center;
    font-family: Josefin Sans;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
    letter-spacing:0.1rem;
    margin: 8px 0 16px 0;
}
.social-icons {
    display: flex;
    justify-content: space-between;
    align-content: center;
}
a:hover{
    font-weight: bolder;
    color:darkblue;
}
.social-icons img{
    margin: 10px;
}
.icon-bars{    
    /* background-color: blueviolet; */
    cursor: pointer;
    display: none;
    position:absolute;
    top: 835px;
    left: 450px;
}
.icon-bars i {  
    width: 42px;
    height: 42px;    
    color: white;
    font-family: FontAwesome;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
.top{
   max-width: 1770px;
   min-height: 83px;   
   background-color: #5474FD;
   display: flex;
   justify-content: center;
   align-items: center;     
}
.logo-text {
    padding: 20px;
}
@media (max-width:767px){
    .header-nav {
        flex-direction: column;
    }
    .testimonial-content {
        flex-direction: column;
    }
    .inputs {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        }
    .menu{
        flex-direction: column;
        display: none;
        }    
    .top {
        flex-direction: column;
        
        }
    .icon-bars {
        display: block;
        }
        .upper-section {
            flex-direction: column;
            justify-content: space-around;
            padding: 50px 0 50px 50px;
            
        }
        .upper-section .content{
           align-items: center;
           margin-bottom: 5%;
        }
        .icons {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .lower-section > img{
            display: none;
        }
}
.visible {
    display: flex;
}