* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}
.header, section {
   max-width: 1600px; 
}
.header {    
    height: 1064px;
    /* background-image: url("./images/background.svg"); */
    background-image: url("./images/header-bg.svg"), linear-gradient(243deg, #7E5AFF 16.9%, #55B7FF 83.27%) ;
    /* background: linear-gradient(243deg, #7E5AFF 16.9%, #55B7FF 83.27%); */    
    background-repeat: no-repeat;
    background-size: cover;   
}

.nav-item{
width: 61px;
height: 18px;
margin-right: 93px;
color: #FFF;
font-family: 'Source Sans 3', sans-serif;
font-size: 1rem;
font-weight: 400;
}
.header-nav{    
    display: flex;
    justify-content: center;
    align-items: center;    
}
.logo {
    margin-right: 150px;
    margin-top: 53px;
}
.menu{
    margin-top: 71px;
}
.menu a{
    text-decoration: none;
}
.menu a:hover{
    color:darkblue;
    font-weight: bold;
}
.social{
    margin-top: 60px;
}
.social a{
    margin-right: 20px;
}

.content{
    margin-top: 241px;
    color: #FFF;
    font-family: 'Montserrat', sans-serif;   
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content p{
    margin-top:20px;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 5.4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .title {
font-size: 80px;
font-weight: 700;
letter-spacing: 8px;
}
.content img{
    margin-top:241px;
}
.project-images {
    position:relative;
    
}
#projects {
    margin:100px 0 140px 0 ;
}
.trade {
    position: absolute;
    left:190px;
    top:57px;
}
.project1-content{
    display: flex;   
}

.project-description {   
    margin-left: 300px; 
    
    width: 470px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
}
.projects-title,.gallery-title, .contact-title{
    color: #2C4058;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 44px;
    font-weight: 700;    
}
.upper-content{
    margin-bottom:80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.line {  
    text-align: center;  
    width: 100px;
    height: 1px;
    background: #2C4058;
    color: #2C4058;
    margin-bottom:30px;
}
.first-p{
color: #2C4058;
font-family: 'Montserrat', sans-serif;
font-size: 22px;
font-weight: 400;
}
.project-description h2, .project2-description h2 {
color: #2C4058;
font-family: Montserrat;
font-size: 44px;
font-weight: 700;
}
.trade-description {
margin: 19px 0 41px 0;
width: 470px;
height: 81px;
color: #2C4058;
font-family: 'Open Sans', sans-serif;
font-size: 18px;
font-weight: 400;
line-height: 30px; 
}

.trade-button {
    cursor:pointer;
    width: 190px;
    height: 50px;
    border: 1px solid #2C4058;
    background: #FFF;
    margin-bottom: 60px;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
}
q{
color: #000;
font-family: 'Open Sans', sans-serif;
font-size: 15px;
font-style: italic;
font-weight: 400;
line-height: normal;
}
.fa-solid {
margin-right: 10px;
color: #2C4058;
font-family: FontAwesome;
font-size: 15px;
font-weight: 400;
letter-spacing: 4.5px;
}

.project2-content {
    display: flex;
    justify-content: space-between;
    margin-top: 140px;
}
.commerce {
    position:absolute;
    top:57px;
    right:135px;
}
.project2-description {
    padding: 0 64px 0 215px;
}
.slide-info{
    background-color: #FFF;
    margin-right:60px;
    margin-bottom:38px;
}
.slide-title{
    margin:30px 0 0 20px;
    max-width: 330px;
    height: 50px;
    color: #2C4058;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 700;
}
.slide-p{
    max-width: 330px;
    color: #2C4058;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin: 15px 20px 39px 20px;
}
.author{
    margin-left:20px;
    display: flex;
}
.author-img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom:30px;
}
.author-details{
    margin-left:20px;
    display: flex;
    flex-direction: column;
}
.author-name {
    color: #2C4058;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
}
.date{
margin-top:6px;
color: #55B7FF;
font-family: 'Montserrat', sans-serif;
font-size: 14px;
font-weight: 400;
}
#news {
    padding: 135px 115px 143px 115px;
    max-width: 1600px;;
    height: 1035px;
    background-image:url("./images/news-background.svg"), linear-gradient(237deg, #24CCFA 11.16%, #3C7FD4 89.18%);
}
.news-line{
    text-align: center;  
    width: 100px;
    height: 1px;
    background: #FFF;
    color: #FFF;
    margin-bottom:30px;
}
.news-title{
    color: #FFF;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 44px;
    font-weight: 700;
}
#gallery {
    padding: 135px 0px 143px 0px;
    width: 1600px;
}
.gallery{
    display:grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 5px;
    column-gap: 5px;
}
.gallery-img-1 {
    width: 662px;
    height: 488px;
    grid-row: 1 / span 2;
}

.gallery-button{
    cursor:pointer;
    margin-top:40px;
}
.gallery-content{
    width: 1600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.gallery-img{
    width: 321px;
    
}
#contact {
    width: 1600px;
    position: relative;
}
#map {
    background-color: beige;
    width: 1600px;
    height: 700px;
}
.form-content{
background-image: url("./images/form-bg.svg"), lightgray 50%;
background-size: cover;
background-repeat: no-repeat;

background-color: #FFF;
margin:60px 0 60px 0;
width: 770px;
height: 450px;
position: absolute;
top: 350px;
left:400px;

}
.form {
   
    display: flex;
    justify-content: space-around;
   
}
form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
.form-info, .contact-details{
    width: 300px;
    
}
.contact-details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
[type="text"] {
    width: 286px; 
    height: 25px;;   
    border: none;
    border-top: 1px solid #2C4058;
}
[type="email"]{
    width: 286px;   
    border: none;
    height: 30px;
    border-bottom: 1px solid #2C4058;
    opacity: 0.5;
}
input:focus{
    background: linear-gradient(237deg, #24CCFA 11.16%, #3C7FD4 89.18%);
}
.upper-content-contact{
    padding: 60px;
    /* margin-bottom: 40px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1600px;
    height: 524px;
    background-image:url("./images/footer-bg.svg"),linear-gradient(251deg, #7E5AFF -2.19%, #55B7FF 103.21%);
}
.footer-info{
    width: 770px;   
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-p{
    margin-top: 41px;
    width: 770px;
    display: flex;
    justify-content: start;
}
.footer-paragraph{
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.icon {
color: #7E5AFF;
font-size: 18px;
font-weight: 400;
line-height: 28px;     
}

.contact-details p, label{
color: #000;
font-family: 'Montserrat', sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px;
}
.contact-info {
    
    display: flex;
}
::placeholder{
color: #4B5562;
font-family: 'Montserrat', sans-serif;
font-size: 18px;
font-weight: 400;
line-height: 27px;
opacity:0.5;
}
.form-button{
padding: 12px 34px;
color: #000;
font-family: 'Montserrat', sans-serif;
font-size: 18px;
font-weight: 400;
line-height: 27px;
border: 1px solid #2C4058;
background-color: #FFF;
}
.form-btn {
    width: 286px;
    display: flex;
    justify-content: flex-end;
}
button:hover{
    color: #FFF;
    background: linear-gradient(237deg, #24CCFA 11.16%, #3C7FD4 89.18%);
}